
<header>
    <h1 style="font-size: medium;font-family: Verdana, Geneva, Tahoma, sans-serif;">Test Store</h1>
    <div>
    <label for="currency">Select Currency:</label>
    <select name="currency" id="currency" (change)="iff()">
        <option value="inr">INR</option>
        <option value="usd">USD</option>
    </select>
</div>
</header>
<div style="display: flex;flex-wrap: wrap;">
<div class="card" *ngFor="let data of products">
    <img src="{{data.image}}" alt="" style="margin: 5px;">
    <h5 style="text-align: center;">{{data.name}}</h5>
    <p style="text-align: center;" *ngIf="flag">{{data.price |currency: 'INR'}}</p>
    <p style="text-align: center;" *ngIf="!flag">{{data.price * usd |currency: 'USD'}}</p>
</div>
</div>